.main-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.description-call {
    display: flex;
    align-items: center;
    justify-content: center;

}

.description-call img {
    width: 450px;
    height: 500px;
}

.description-call h3 {
    font-family: 'JetBrains';
    font-size: 23px;
    margin-left: 35px;
}

.main-form {
    margin-top: 20px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cell {
    display: flex;
    flex-direction: row;
    background-color: #ff4500c4;
}

.cell-content {
    display: block;
    margin: 10px;
}

.label-control {
    font-family: 'JetBrains';
    font-size: 20px;
}

.input-control {
    width: 250px;
    height: 25px;
}

#date-div {
    display: flex;
    align-items: center;
    justify-content: center;
}