@font-face {
    font-family: 'JetBrains';
    src: url(../fonts/JetBrains/static/JetBrainsMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

.main-mostrarCarrito {
    position: relative;
    min-height: 66vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main-mostrarCarrito h3 {
    font-family: 'JetBrains';
    font-size: 25px;
    margin: 20px;
}

/* Tabla del carrito */

.shoppingTable {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    max-width: 80%;
}

.shoppingTable th {
    font-family: 'JetBrains';
}

.cardArticle {
    background-color: orangered;
    min-height: 200px;
    min-width: 150px;
    margin: 10px;
    box-shadow: 1px 1px 3px black;
}
