.main-section {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 90px;
    position: relative;
    min-height: 60vh;
}

.main-section h3 {
    font-family: 'JetBrains';
    font-size: 23px;
    background-color: orangered;
    padding: 10px;
}

.tarjeta-contacto {
    height: 330px;
    width: 50vw;
    margin-top: 15px;
    background-image: url('../img/tarjeta-contacto.jpg');
    background-position: center;
}

.tarjeta-contacto .content-contact {
    height: 212px;
    width: 345px;
    box-shadow: 6px 9px 14px black;
    position: relative;
    rotate: -1.8deg;
    border-radius: 5px;
    top: 18%;
    left: 10%;
}

.content-contact span {
    content: "⚙️";
}

.content-contact {
    height: 330px;
    width: 350px;
    margin: 15px;
    box-shadow: 6px 9px 14px black;
}

.content-contact p {
    padding: 10px;
    font-family: 'Poppins';
    font-size: 18px;
}

@media (max-width: 1840px) {
    .tarjeta-contacto .content-contact {
        left: 8.5%;
    }
}

@media (max-width: 1828px) {
    .tarjeta-contacto .content-contact {
        left: 8%;
    }
}

@media (max-width: 1770) {
    .tarjeta-contacto .content-contact {
        left: 6.5%;
    }
}

@media (max-width: 1760px) {
    .tarjeta-contacto .content-contact {
        left: 6.5%;
    }
}

@media (max-width: 1700px) {
    .tarjeta-contacto .content-contact {
        left: 5%;
    }
}

@media (max-width: 1695) {
    .tarjeta-contacto .content-contact {
        left: 4.5%;
    }
}

@media (max-width: 1630px) {
    .tarjeta-contacto .content-contact {
        left: 3%;
    }
}

@media (max-width: 1601) {
    .tarjeta-contacto .content-contact {
        left: 2%;
    }
}

@media (max-width: 1570px) {
    .tarjeta-contacto .content-contact {
        left: 1%;
    }
}

@media (max-width: 1536) {
    .tarjeta-contacto .content-contact {
        left: 0%;
    }
}

@media (max-width: 1500px) {
    .tarjeta-contacto .content-contact {
        left: -1%;
    }
}

@media (max-width: 1450) {

    .main-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
}

@media (max-width: 1430px) {
    .tarjeta-contacto .content-contact {
        left: -2%;
    }
}

@media (max-width: 1400px) {

    .main-section {
        display: flex;
        justify-content: center;
        align-items: self-start;
    }

    .tarjeta-contacto {
        height: 330px;
        width: 50vw;
        background-image: none;
        background-position: center;
    }

    .tarjeta-contacto .content-contact {
        rotate: none;
    }

}

@media (max-width: 770px) {

    .main-section {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 630px) {
    .tarjeta-contacto .content-contact {
        left: -11%;
    }
}

@media (max-width: 560px) {
    .tarjeta-contacto .content-contact {
        left: -17%;
    }
}

@media (max-width: 480px) {
    .tarjeta-contacto .content-contact {
        left: -28%;
    }
}

@media (max-width: 420px) {
    .tarjeta-contacto .content-contact {
        left: -40%;
    }
}