.main-section {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 90px;
    margin-bottom: -50px;
}

.main-section h3 {
    font-family: 'JetBrains';
    font-size: 23px;
    background-color: orangered;
    padding: 10px;
}

.tarjeta-contacto {
    height: 330px;
    width: 50vw;
    margin-top: 15px;
    background-image: url('../img/tarjeta-contacto.jpg');
    background-position: center;
}

.tarjeta-contacto .content-contact {
    height: 212px;
    width: 345px;
    box-shadow: 6px 9px 14px black;
    position: relative;
    rotate: -1.8deg;
    border-radius: 5px;
    top: 18%;
    left: 10%;
}

.content-contact span {
    content: "⚙️";
}

.content-contact {
    height: 330px;
    width: 350px;
    margin: 15px;
    box-shadow: 6px 9px 14px black;
}

.content-contact p {
    padding: 10px;
    font-family: 'Poppins';
    font-size: 18px;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    /* display: none; */
}

