/* GENERALES */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}


@font-face {
    font-family: 'JetBrains';
    src: url(../fonts/JetBrains/static/JetBrainsMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* INICIO DE CABECERA */

header {
    width: 100%;
    height: 200px;
    border-bottom: 2px solid orangered;
}

.wrap {
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2 15 31);
}

.logotipo {
    float: left;
}

.logotipo img {
    width: 150px;
}

/* Menú de navegación */

.nav {
    transition: max-height .5s ease-out;
    float: right;
    text-decoration: none;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 86px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-140%);
}

.nav li {
    display: inline-block;

}

.nav li a {
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.nav li a:hover {
    color: orangered;
    background-color: white;
    font-size: 20px;
    transform: scale(1.4, 1.4);
}

.social-icon {
    filter: invert(1);
    width: 25px;
}

#login:hover .social-icon {
    filter: invert(0);
}

.shoppingCart {
    width: 25px;
}

/* Menú hamburguesa */

.menu--show {
    transform: translateY(-18%);
}

.hamb {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
    float: right;
    margin: 20px 20px;
    padding: 30px 20px;
    border-radius: 5px;
    background-color: orangered;
    box-shadow: 2px 2px 2px 1px;
    z-index: 3;
}

.hamb-line {
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after {
    background: black;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

@media screen and (min-width: 770px) {

    header {
        height: 208px;
    }

    .wrap {
        width: 100%;
        height: 208px;
        display: flex;
        flex-direction: row;
    }

    .menu {
        flex-direction: row;
        transform: translateY(-135%);
    }

    .nav ul li {
        padding: 0;
        margin: 0px 2px;
    }

    .hamb {
        display: none;
    }
}

/* FIN DE CABECERA */

/* INCIO DE SECCIÓN */

.main-Index {
    position: relative;
    min-height: 100vh;
}

.portada {
    display: block;
    margin-top: 15px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h1 {
    font-family: 'JetBrains';
    font-size: 50px;
    font-weight: bold;
}

.title p {
    font-family: 'Poppins';
    font-size: 20px;
    margin: 15px;
}

.galery {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center
}

/* Galreía principal */
.card {
    width: 300px;
    margin: 10px;
    background-color: orangered;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

    &:hover {
        .card_caption {
            top: 50%;
            transform: translateY(-50%);
        }

        .img-box {
            transform: translateY(-10%);
        }

        .card_thumb {
            &::after {
                top: 0;
            }
        }

        .card_snippet {
            margin: 20px 0;
        }
    }

    &_thumb {
        position: relative;
        max-height: 400px;
        overflow: hidden;
        /*
        @include breakpoint(desktop) {
            max-height: 500px;
        }*/
    }

    &::after {
        position: absolute;
        top: 0;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        /*background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);*/
        transition: .3s;

        /*
        @include breakpoint(desktop) {
            top: calc(100 - 140px);
        }*/
    }
}

.img-box {
    transition: .5s ease-in-out;
}

&_caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: .3s;

    /*
        @include breakpoint(desktop) {
            top: calc(100 - 110px);
            transform: unset;
        }*/
}

.card_snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-family: 'JetBrains';
    color: white;
    font-size: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: .5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    /*
        @include breakpoint(desktop) {
            margin: 60px 0;
        }*/
}

/*
.card {
    border-radius: 4px;
    background: linear-gradient(45deg, #8d8b8a, transparent);
    margin: 5px;
    padding: 2px 1px 4px 1px;
    height: 280px;
    width: 250px;
    display: block;
    align-items: center;
    justify-content: center;
}
*/

.card img {
    width: 97%;
    min-height: 250px;
    max-height: 250px;
    margin: 5px;
    border-radius: 5px;
}

.content {
    opacity: 0;
    text-align: center;
}

.card:hover .content {
    opacity: 1;
    transition: 1s linear;
}

/* Fin de galería principal */

/* FIN DE PORTADA */

/* TEXTO INTRO */

.description {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-right: 30px;
}

.description-img img {
    width: 450px;
    border-radius: 5px;
}

/* INICIO DE OFERTAS */

.oferts {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-products {
    height: 50%;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.face1 {
    transition: 0.5s;
    z-index: 1;
    transform: translateY(100px);
}

.card-products:hover .face1 {
    transform: translateY(0);
}

.card-products img {
    width: 250px;
    filter: invert(1);
}

.face2 {
    background-color: orangered;
}

.ofert-content {
    opacity: 1;
    transition: 0.5s;
}

.card:hover .face1 {
    opacity: 1;
}

.card-products button {
    width: 90%;
    height: 30px;
    line-height: 30px;
    border-radius: 45px;
    border: none;
    transition: 0.5s;
    margin: 12px;
}

#click:hover {
    transform: translateY(-10px);
    color: orangered;
}

.card-products button a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

/* FIN DE OFERTAS */

/* INCIO DE PREGUNTAS FRECUENTES */

.preguntas {
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.title-questions {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    background: transparent;
    width: 17rem;
    height: auto;
}

.circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: orangered;
    border-radius: 1.625rem;
}

.arrow-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.arrow-icon::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    border-top: 0.125rem solid black;
    border-right: 0.125rem solid black;
    transform: rotate(45deg);
}

.button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    inset: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5;
}

.title-questions:hover .circle {
    width: 100%;
}

.title-questions:hover .arrow-icon {
    background: black;
    transform: translate(1rem, 0);
}

.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 20px;
}

.scroll a {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    line-height: 30px;
    border: none;
    border-radius: 45px;
    box-shadow: 1px 1px 4px black;
    color: white;
    background-color: orangered;
    text-decoration: none;
}

/*
.scroll a:hover {
    transition: 0.10s;
    transform: translateY(-10px);
}*/

/* FIN DE SCROLL */


/* INICIO DE FOOTER */

footer {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(2 15 31);
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
}

.apart ul li {
    list-style: none;
}

.apart a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.credits {
    color: white;
    text-align: center;
    font-family: 'JetBrains';
    font-size: 18px;
    text-decoration: none;
}

.social-media {
    width: 200px;
}

.social-media ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.social-media ul img {
    max-width: 48px;
    max-height: 48px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

/* FIN DE FOOTER */

/* MEDIA QUERYS PERSONSIVE */

@media (max-width: 1112px) {

    .description {
        flex-direction: column;
    }

    .text {
        margin-right: none;
        font-size: 25px;
        margin-bottom: 50px;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .logotipo {
        display: none;
    }

    .nav {
        margin-left: 100px;
    }

    .text {
        text-align: center;
    }

    .oferts {
        display: flex;
        flex-direction: column;
    }

    .card-products img {
        width: 300px;
    }
}

@media (max-width: 801px) {
    .nav li a {
        font-size: 15px;
    }
}