.main-contact {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
}

.description-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position:static;
}

.description-img img {
    width: 450px;
    height: 500px;
}

.main-form {
    margin-left: 20px;
}

.callback {
    font-family: 'JetBrains';
    font-size: 23px;
    background-color: transparent;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cell {
    display: flex;
    flex-direction: row;
    background-color: #ff4500c4;
}

.cell-content {
    display: block;
    margin: 10px;
}

.label-control {
    font-family: 'JetBrains';
    font-size: 20px;
}

.input-control {
    width: 250px;
    height: 25px;
}

#date-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cell-check input[type="checkbox"] {
    width: 45px;
}

.cell-check .label-control {
    font-size: 14px;
}

.label-control a {
    text-decoration: underline;
    color: blue;
}


