/* Generales */

@font-face {
    font-family: 'JetBrains';
    src: url(../fonts/JetBrains/static/JetBrainsMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

.main-perfil {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-content {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    /* border: 1px solid orangered; */
}

.alertContainer {
    grid-column: 1 / span 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: orangered;
    color: white;
    font-family: 'JetBrains';
    font-size: 20px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.alertContainer span {
    text-decoration: underline;
}

.alertContainer a {
    color: white;
}

.alertContainer a:hover {
    color: orangered;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    transform: scale(1,1);
}

/* Aside Izq */ 

.asideIzq {
    padding: 15px;
    border: 1px solid orangered;
    height: 50vh;
}

.profileMenu li{
    margin: 10px;
}

.profileInfo {
    grid-column: span 2;
    border: 1px solid orangered;
    width: 99.7%;
}