/* GENERALES */

* {
    margin: 0px;
    padding: 0px;
}

/* INICIO MENÚ PRODUCTOS */

.main-tienda {
    position: relative;
    min-height: 66vh;
}

.Shop--products-menu {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.Shop--products-menu .card-menu {
    display: flex;
    justify-content: space-around;
    max-width: 22vw;
    height: 40vh;
    margin: 20px;
    grid-column: span 2;
    overflow: hidden;
    display: flex;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
    border: 1px solid orangered;
    border-radius: 5px;
}

.Shop--products-menu .face1 {
    position: relative;
    top: -24%;
    width: 35%;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.face1Img {
    position: relative;
    top: -36%;
    width: 170px;

}

.face1Img Img {
    width: 170px;
    background: transparent;
    /*filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));*/
    border-radius: 16px;
}

.material-buttons {
    justify-content: space-between;
    display: flex;

}

.btn-materialButton {
    width: 35px;
    background: transparent;
    border: none;
}

.Shop--products-menu .face2 {
    
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    padding-right: 5px;
}

.Shop--products-menu .title-ofert {
    font-family: 'JetBrains';
    font-size: 20px;
}

.shopofert-content {
    height: 35vh;
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: space-between;
    background-color: orangered;
}

.ofert-contentUp p {
    margin-top: 10px;
    font-family: 'Poppins';
}

.ofert-contentDown {
    margin-top: 170px;
}

.price p {
    font-family: 'JetBrains';
    font-size: 20px;
    color: white;
}

.variants {
    display: flex;
    align-items: center;
    justify-content: center;
}

.variants ul {
    display: flex;
}

.variants ul li {
    border: 1px solid black;
    margin: 4px;
    padding: 3px;
    list-style: none;
    border-radius: 10px;
    width: 48px;
    height: 40px;
    background-color: white;
}

.variants img {
    width: 40px;
    bottom: -135px;
}

.btn--add {
    font-family: 'JetBrains';
    padding: 4px 10px;
    border: none;
    border-radius: 25px;
}

.btn--add:hover {
    color: orangered;
    transform: scale(1.1, 1.1);
}