/* GENERALES */

* {
    margin: 0px;
    padding: 0px;
}

/* INICIO MENÚ PRODUCTOS */

.main-tienda     {
    margin-bottom: 20px;
}

.products-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-menu {
    height: 50%;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.face1 {
    transition: 0.5s;
    z-index: 1;
    transform: translateY(100px);
}

.card-menu:hover .face1{
    transform: translateY(0);
}

.card-menu img {
    width: 250px;
    max-height: 180px;
    border: 1px solid lightgrey;
    /*filter: invert(1);*/
}

.face2 {
    background-color: orangered;
}
.ofert-content {
    opacity: 1;
    transition: 0.5s;
}

.ofert-content .title-ofert {
    font-family: 'JetBrains';
}

.card:hover .face1 {
    opacity: 1;
}

.card-menu button {
    width: 90%;
    height: 30px;
    line-height: 30px;
    border-radius: 45px;
    border: none;
    transition: 0.5s;
    margin: 12px;
}

#click:hover {
    transform: translateY(-10px);
    color: orangered;
}

.card-menu button a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

/* FIN MENÚ PRODUCTOS */
